body {
    min-width: 0 !important;
    overflow: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 25px;
}
