:root {
    --cor-texto-item-menu-lateral: #F4F4F6;
    --background-item-menu-lateral-hover: #323232;
}

.item-menu-lateral {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    color: var(--cor-texto-item-menu-lateral);
    list-style: none;
}

.item-menu-lateral a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    text-decoration: none;
    color: var(--cor-texto-item-menu-lateral);
}

.item-menu-lateral:hover {
    background-color: var(--background-item-menu-lateral-hover);
    cursor: pointer;
    transition: 0.5s;
}

.item-menu-lateral:hover a,
.item-menu-lateral:hover a span {
    color: var(--cor-contraste) !important;
}

.item-menu-lateral span {
    font-size: 1.7rem;
}

.item-menu-lateral p {
    text-align: center;
}

.aba-atual {
    background-color: var(--cor-contraste);
    transition: 0.5s;
}
