:root {
    --cor-texto-botao-atualizar-deletar: #FFFFFF;

    --background-botao-atualizar: #3ABFAE;
    --background-botao-deletar: #000000FF;
}

#opcoes {
    display: flex;
    justify-content: space-around;
}

.aviso a {
    color: var(--cor-texto-botao-atualizar-deletar);
}

.aviso a:hover {
    color: var(--cor-texto-botao-atualizar-deletar);
}

#botao-opcao1 {
    background-color: var(--background-botao-atualizar);
}

#botao-opcao2 {
    background-color: var(--background-botao-deletar);
}
