:root {
    --cor-positiva: #008000FF;

    --cor-negativa: #FF0000FF;
    --cor-texto-negativo: #FFFFFF;
}

body {
    min-width: 0 !important;
    overflow: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 25px;
}

.quantidade-baixa {
    background-color: var(--cor-negativa);
    color: var(--cor-texto-negativo);
}

.positivo {
    color: var(--cor-positiva);
    font-size: 1.3rem;
}

.negativo {
    color: var(--cor-negativa);
    font-size: 1.3rem;
}
