:root {
    --background-positiva: #008000FF;

    --cor-background-produto-vencido:#FBE286;
    --cor-texto-vencido: #000000FF;

    --background-negativa: #FE4847;
    --cor-texto-negativo: #FFFFFF;
}

body {
    min-width: 0 !important;
    overflow: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 25px;
}

.quantidade-baixa {
    background-color: var(--background-negativa);
    color: var(--cor-texto-negativo);
}

.lote-finalizado {
    text-decoration: line-through;
}

.produto-vencido {
    background-color: var(--cor-background-produto-vencido);
    color: var(--cor-texto-vencido);
}

.positivo {
    color: var(--background-positiva);
    font-size: 1.3rem;
}

.negativo {
    color: var(--background-negativa);
    font-size: 1.3rem;
}
