:root {
    --background-botao-salvar-atualizar: #000000FF;
    --border-botao-salvar-atualizar-hover: #000000FF;
    --cor-texto-botao-salvar-atualizar: #FFFFFF;
    --cor-texto-botao-salvar-atualizar-hover: #000000FF;

    --cor-texto-botao-deletar: #000000;
    --cor-texto-botao-deletar-hover: #FFFFFF;
    --border-botao-deletar: #000000;
    --border-botao-deletar-hover: #000000FF;

    --cor-campo-invalido: #dc3545;
}

#container-formulario {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#container-formulario > fieldset,
#container-formulario > div {
    display: flex;
    flex-direction: column;
}

#container-formulario > fieldset {
    gap: 10px;
}

#container-botao-atualizar-deletar,
#container-botao-salvar {
    display: flex;
    flex-direction: row !important;
    align-self: flex-end;
    gap: 4px;
}

#botao-sair,
#botao-salvar,
#botao-atualizar {
    width: 100px;
    height: 40px;
    color: var(--cor-texto-botao-salvar-atualizar) !important;
    background-color: var(--background-botao-salvar-atualizar);
    border: none;
}

#botao-deletar {
    width: 100px;
    height: 40px;
    color: var(--cor-texto-botao-deletar);
    border: 1px solid var(--border-botao-deletar);
}

textarea {
    resize: none;
}

#container-file {
    display: flex;
    flex-direction: row !important;
}

.campo-invalido {
    color: var(--cor-campo-invalido);
    font-size: 80%;
    display: block;
    margin-top: .25rem;
}
