:root {
    --background-botao-salvar-atualizar: #000000FF;
    --border-botao-salvar-atualizar-hover: #000000FF;
    --cor-texto-botao-salvar-atualizar: #FFFFFF;
    --cor-texto-botao-salvar-atualizar-hover: #000000FF;

    --cor-texto-botao-deletar: #000000;
    --cor-texto-botao-deletar-hover: #FFFFFF;
    --border-botao-deletar: #000000;
    --border-botao-deletar-hover: #000000FF;
}

#container-formulario {
    display: flex;
    flex-direction: column;
}

#container-formulario > div div:first-child {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    gap: 20px;
}

#botao-salvar,
#botao-atualizar {
    color: var(--cor-texto-botao-salvar-atualizar) !important;
    background-color: var(--background-botao-salvar-atualizar);
    border: none;
}

#botao-deletar {
    color: var(--cor-texto-botao-deletar);
    border: 1px solid var(--border-botao-deletar);
}
