:root {
    --background-celula-tabela-hover-active: #F1F1F1;
    --borda-tabela: #F2F2F2;

    --borda-scrollbar-slide: #F2F2F2;

    --background-botao-pesquisa: #000000FF;
    --cor-texto-botao-pesquisa: #FFFFFF;

    --cor-icones-barra-pesquisa: #000000FF;
}

#topo-secao-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topo-secao-principal > div:last-child {
    display: flex;
    gap: 10px;
}

#topo-secao-principal i {
    font-size: 1.5rem;
}

#topo-secao-principal a {
    text-decoration: none;
    color: var(--cor-icones-barra-pesquisa);
}

#topo-secao-principal i:hover,
#topo-secao-principal a:hover {
    cursor: pointer;
}

#container-pesquisa {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    gap: 20px;
}

#container-pesquisa form {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#container-barra-pesquisa {
    display: flex;
    gap: 30px;
    width: 100%;
}

#container-barra-pesquisa input[type="text"] {
    min-width: 150px;
    width: 100%;
}

#botao-pesquisa {
    width: 100px;
    height: 40px;
    color: var(--cor-texto-botao-pesquisa);
    background-color: var(--background-botao-pesquisa);
    border: none;
}

.titulo-tabela-destaque {
    font-weight: bolder;
    font-size: 1.5rem;
}

.tabela, th, td {
    border-collapse: collapse;
    padding: 20px;
    border: 1px solid var(--borda-tabela);
}

.alinhar-centro {
    text-align: center;
}

tbody tr:hover {
    background-color: var(--background-celula-tabela-hover-active);
    cursor: pointer;
    transition: 0.7s;
}

.linha-selecionada {
    background-color: var(--background-celula-tabela-hover-active) !important;
}
