:root {
    --background-celula-tabela-hover: #F1F1F1;
    --borda-tabela: #F2F2F2;

    --borda-scrollbar-slide: #F2F2F2;

    --cor-texto-botao-pesquisa: #FFFFFF;

    --cor-icones-barra-pesquisa: #000000FF;
}

#container-pesquisa {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

#container-pesquisa form {
    display: flex;
    align-items: center;
    gap: 20px;
}

#container-pesquisa input[type="text"] {
    min-width: 200px;
    width: 100%;
}

#container-pesquisa i {
    font-size: 1rem;
}

#container-pesquisa a {
    text-decoration: none;
    color: var(--cor-icones-barra-pesquisa);
}

#container-pesquisa i:hover,
#container-pesquisa a:hover {
    cursor: pointer;
}

.destaque {
    font-weight: bolder;
    font-size: 1.5rem;
}

.tabela, th, td {
    border-collapse: collapse;
    padding: 20px 0 20px 150px;
    text-align: left;
    border-bottom: 1px solid var(--borda-tabela);
}

tbody tr:hover {
    background-color: var(--background-celula-tabela-hover);
    cursor: pointer;
}
