:root {
    --cor-botao-pesquisa: #000000;
    --cor-texto-botao-pesquisa: #000000;
    --cor-texto-botao-pesquisa-hover: #FFFFFF;
}

#botao-pesquisa {
    margin-bottom: 0 !important;
    border: 1px solid var(--cor-botao-pesquisa);
    background-color: transparent;
    color: #000000;
}

#botao-pesquisa:hover {
    background-color: var(--cor-botao-pesquisa);
    color: var(--cor-texto-botao-pesquisa-hover);
}
