:root {
    --background-celula-tabela-hover: #F1F1F1;
    --borda-tabela: #F2F2F2;

    --borda-scrollbar-slide: #F2F2F2;
}

#container-formulario {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

#container-formulario form {
    display: flex;
    align-items: center;
    gap: 20px;
}

#container-formulario input[type="text"] {
    min-width: 200px;
    width: 100%;
}

#container-formulario i,
#container-formulario i {
    font-size: 1rem;
}

#container-formulario a {
    text-decoration: none;
    color: var(--cor-texto-botao-pesquisa);
}

#container-formulario i:hover,
#container-formulario a:hover {
    cursor: pointer;
}

.destaque {
    font-weight: bolder;
    font-size: 1.5rem;
}

.tabela, th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--borda-tabela);
}

tbody tr:hover {
    background-color: var(--background-celula-tabela-hover);
    cursor: pointer;
}
