:root {
    --cor-botao-pesquisa: #000000;
    --cor-texto-botao: #000000;

    --background-celula-tabela-hover: #F1F1F1;
    --borda-tabela: #F2F2F2;

    --borda-scrollbar-slide:#F2F2F2;

    --cor-texto-botao-pesquisa-hover: #FFFFFF;
}

#secao-principal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

#container-informacoes-pagina {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

#container-informacoes-pagina span {
    font-size: 2.5rem;
}

#container-informacoes-pagina h1 {
    font-size: 2rem;
}

#container-informacoes-pagina i {
    margin-top: 12px;
    color: var(--cor-contraste);
}

#container-formulario {
    display: flex;
    align-items: center;
    gap: 20px;
}

#container-formulario form {
    display: flex;
    align-items: center;
    gap: 20px;
}

#container-formulario input[type="text"] {
    min-width: 200px;
    width: 100%;
}

#container-formulario button[type="submit"] {
    margin-bottom: 0 !important;
    border: 1px solid var(--cor-botao-pesquisa);
    background-color: transparent;
    color: #000000;
}

#container-formulario button[type="submit"]:hover {
    background-color: var(--cor-botao-pesquisa);
    color: var(--cor-texto-botao-pesquisa-hover);
}

#container-formulario i:hover {
    cursor: pointer;
}

.destaque {
    font-weight: bolder;
    font-size: 1.5rem;
}

.tabela, th, td{
    border-collapse:collapse;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--borda-tabela);
}

tbody tr:hover {
    background-color: var(--background-celula-tabela-hover);
    cursor: pointer;
}
